<link rel="stylesheet" href="assets/static/main.css">
<!--     <link href="featherlight-1.5.1/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <script src="featherlight-1.5.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>    --> 
    <script src="https://use.fontawesome.com/fa1817fa3f.js"></script>


<div class="api-page">
<a href="/#!/login">Login</a>
<a href="/#!/">Logout</a>
<h1 class="title"><a href="/" draggable="false">CliqFlix </a></h1>
	<form class="js-search-form" action="#">
  	<label for="query"></label>
   		<input type="text" class="js-query" placeholder="Enter a movie name">
      	<button type="submit" name="submit" class="submit" onclick="return">Search</button>
	</form>
        <div class="js-search-results">
    
    </div>
</div>

