    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/static/form-elements.css">
    <link rel="stylesheet" href="assets/static/style.css">        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>CliqFlix</strong> Login &amp; Register 
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Login to our site</h3>
	                            		<p>Enter username and password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form ng-submit="lC.login()" class="login-form">
                                        <ul>
                                            <li class="errormsg" ng-repeat="error in lC.loginErrors">{{ error }}</li>
                                        </ul>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-email">Email</label>
                                            <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="lC.loginAttempt.email">
                                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="lC.loginAttempt.password">
				                        </div>
				                        <button type="submit" class="btn">Sign in!</button>
				                    </form>
			                    </div>
		                    </div>
		                
		                	<div class="social-login">
	                        	<h3>...or login with:</h3>
	                        	<div class="social-login-buttons">
		                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
		                        		<i class="fa fa-facebook"></i> Facebook
		                        	</a>
		                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
		                        		<i class="fa fa-twitter"></i> Twitter
		                        	</a>
		                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
		                        		<i class="fa fa-google-plus"></i> Google Plus
		                        	</a>
	                        	</div>
	                        </div>
	                        
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Sign up now</h3>
	                            		<p>Fill in the form below to get instant access:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form ng-submit="lC.register()" class="registration-form">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-first-name">First name</label>
				                        	<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name" ng-model="lC.newUser.first_name">
                                            <span class="errormsg" ng-bind="lC.registerErrors.first_name"></span>
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-last-name">Last name</label>
				                        	<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name" ng-model="lC.newUser.last_name">
                                            <span class="errormsg" ng-bind="lC.registerErrors.last_name"></span>
				                        </div>                                       <div class="form-group">
                                            <label class="sr-only" for="form-last-name">Email</label>
                                            <input type="text" name="form-last-name" placeholder="Email..." class="form-last-name form-control" id="form-last-name" ng-model="lC.newUser.email">
                                            <span class="errormsg" ng-bind="lC.registerErrors.email"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-last-name">Password</label>
                                            <input type="password" name="form-last-name" placeholder="Password..." class="form-last-name form-control" id="form-last-name" ng-model="lC.newUser.password">
                                            <span class="errormsg" ng-bind="lC.registerErrors.password"></span>
                                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Password Confirmation</label>
				                        	<input type="password" name="form-email" placeholder="Password Confirmation..." class="form-email form-control" id="form-email" ng-model="lC.newUser.passwordconfirm">
                                        </div>

				                        <button type="submit" class="btn">Sign me up!</button>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

